{{ define "main" }}
<main>
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ "/" | absURL }}">Startseite</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ "/dienste" | absURL }}">Dienste</a>
      </li>
    </ul>
    <div class="masonry-wrapper">
      <div class="masonry">
        {{ range .Pages}}
          <div class="masonry-item card">
            <a href="{{ .Permalink }}">
              <div class="card-image">
                <img src="{{ .Permalink }}/{{ .Param "featured-image"}}" class="img-responsive">
              </div>
            </a>
            <div class="card-header">
              <a href="{{ .Permalink }}"> 
                <div class="card-title h5">{{ .Title }}</div> 
                </a>
              <div class="card-subtitle">
                {{ .Param "description"}}
              </div>
            </div>
          </div>
        {{ end }} 
      </div>
    </div>
  </div>
</main>
{{ end }}