{{ define "main" }}
<main>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ "/" | absURL }}">Startseite</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ "/dienste" | absURL }}">Dienste</a>
    </ul>
    <h1 class="project-title">{{ .Title}}</h1>
    {{ if (.Param "link" ) }}
      <a href="{{ .Param "link" }}" target="_blank"><button class="btn project-link">hier gehts es zum Dienst</button></a>
    {{ end}}
    {{ .Content }}
</main>
{{ end }}