@charset "utf-8";
@import "masonry";

*, ::before, ::after { 
  box-sizing: border-box; 
}

body  {
  background-color: #fefefe;
  padding-bottom: 35px;
}

h1, h2, h3, h4 {
	font-family: 'Gotu';
}

@media only screen and (min-width: 600px) {
  .main-wrapper {
    padding-right: 2.5rem;
  }
  @media only screen and (min-width: 800px) {
    .main-wrapper {
      padding-right: 3.5rem;
    }
  }
}

main {
  margin: 2rem 1rem 4rem 1rem;
  @media only screen and (max-width: 600px) {
      margin: 1.2rem 0.5rem 3rem 0.5rem;
  }
}

.sidebar {
  //margin-top: 5rem;
  padding: 3rem 0;
  position:fixed;
  //background-color: green;
  max-width: 426px!important;
  margin-left: 0.5rem;
  padding-left: 3.5rem;
  @media only screen and (max-width: 800px) {
      padding-left: 2.5rem;
  }
  @media only screen and (max-width: 600px) {
      position: relative;
      padding: 0!important;
      margin-left: 0;
  }
  @media only screen and (max-height: 720px)  {
      @media only screen and (min-width: 800px)  {
          padding-top: 0.5rem; 
          img {
          max-height: 75vh;
          }
      }
  }
 
}       

.site-title {
  position: fixed;
  margin: 2.4rem 0rem;
  @media only screen and (max-width: 1000px) {
      margin-top: 3.5vw;
  }
  @media only screen and (max-width: 600px) {
      position: absolute;
      margin-top: 0;
  } 
  h1 {
      font-family: 'Delius Swash Caps';
      font-size: 2rem;
      color: #4d4d4d;    
      @media only screen and (max-width: 1280px) {
          font-size: 3.4vw!important;
      }
      @media only screen and (max-width: 600px) {
          margin: 1rem 0.7rem;
          font-size: 2.2rem!important;
      }
  }
}

.site-title:hover {
  text-decoration: none;
}

.video-responsive {
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .is-not-homepage{
    display: none;
  }
}

.card {
  a,a:hover, a:visited{
    color: #5755d9;
    text-decoration: none;
  }
  img {
    opacity: 0.95;
  }
}

.card:hover {
  img {
    opacity: 1;
  }
}

.information-desktop {
  button {
    margin: 4.5px 0;
  };
  margin-top: 0.7rem;
  a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.information-mobile {
  display: none;
  margin: 0.7rem 2rem;

  a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
  }
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.credit-link {
  color: #5755d9!important;
}

.inline-logo {
  vertical-align: text-bottom;
}

.project-link {
  margin-bottom: 0.8rem;
}

.project-title {
  margin-bottom: 0.2rem;
}

.modal {
  z-index: 10!important;
}

pre {
  overflow-x: scroll!important;
}

.altert {
  margin-top: 1.5rem;
}

ul {
  margin-bottom: 1.5rem;
}
