/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('../fonts/open-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

/* gotu-regular - latin */
@font-face {
    font-family: 'Gotu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gotu-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Gotu'), local('Gotu-Regular'),
         url('../fonts/gotu-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/gotu-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/gotu-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/gotu-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/gotu-v1-latin-regular.svg#Gotu') format('svg'); /* Legacy iOS */
  }
  
/* oswald-300 - latin */
@font-face {
     font-family: 'Oswald';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/oswald-v31-latin-300.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/oswald-v31-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/oswald-v31-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/oswald-v31-latin-300.woff') format('woff'), /* Modern Browsers */
          url('../fonts/oswald-v31-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/oswald-v31-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
   }

/* delius-swash-caps-regular - latin */
@font-face {
     font-family: 'Delius Swash Caps';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/delius-swash-caps-v11-latin-regular.eot'); /* IE9 Compat Modes */
     src: local('Delius Swash Caps'), local('DeliusSwashCaps-Regular'),
          url('../fonts/delius-swash-caps-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/delius-swash-caps-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/delius-swash-caps-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/delius-swash-caps-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/delius-swash-caps-v11-latin-regular.svg#DeliusSwashCaps') format('svg'); /* Legacy iOS */
   }
   