<!DOCTYPE html>
<html lang="de">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <div class="container grid-xl">
      <div class="columns">
        <div class="column col-4 col-sm-12 sidebar is-not-homepage">
            {{- partial "sidebar.html" . -}}
        </div>
        <div class="column col-8 col-ml-auto col-sm-12 col-ml-auto ">
          {{- block "main" . }}{{- end }}  
        </div>
      </div>
    </div>
    <footer class="information-mobile">
      {{- partial "information.html" . -}}
    </footer>
    {{- partial "modal.html" . -}}
  </body>
</html>