{{ define "main" }}
<main>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ "/" | absURL }}">Startseite</a>
        </li>
    </ul>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
</main>
{{ end }}