<meta charset="utf-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
<title>{{ .Site.Title }}</title>
<link rel="icon" type="image/png" href="/favicon.png">
{{ $options := (dict "targetPath" "css/graz.social.css") }}
{{ $style := resources.Get "sass/graz.social.scss" | toCSS $options }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link href="/css/spectre.min.css" rel="stylesheet">
<link href="/css/fonts.css" rel="stylesheet">
<link href="/css/graz.social.css" rel="stylesheet">
