<a href="{{ "/unterstuetzen" | absURL }}">
    <button class="btn btn-primary">Unterstützen</button>
</a>
<a href="{{ "/impressum" | absURL }}">
    <button class="btn btn-link">Impressum</button>
</a>
<a href="{{ "/datenschutzhinweis" | absURL }}">
    <button class="btn btn-link">Datenschutzhinweis</button>
</a>
<a href="https://codeberg.org/linos/graz.social" target="_blank">
    <button class="btn btn-link"><img  class="inline-logo" src="/gitea.png" height="22" width="22"></img>Quellcode</button>
</a>
<a class="btn btn-link credit-link" href="#modal-1">Credits/Rechte</a>
