<a class ="site-title" href="{{ "/" | absURL }}"><h1>{{ .Site.Title }}</h1></a> 
<img class="img-responsive logo" src="/logo-fefefe.jpg"></img>
<div class="information-desktop">
  {{- partial "information.html" . -}}
</div>