{{ define "main" }}
    <main>
        {{ .Content }}
        <div class="masonry-wrapper">
            <div class="masonry">
                {{ range where .Pages "Section" "dienste" }}
                    {{ range .Pages }}
                        <div class="masonry-item card">
                            <a href="{{ .Permalink }}">
                            <div class="card-image">
                                <img src="{{ .Permalink }}/{{ .Param "featured-image"}}" class="img-responsive">
                            </div>
                            </a>
                            <div class="card-header">
                                <a href="{{ .Permalink }}"> 
                                    <div class="card-title h5">{{ .Title }}</div> 
                                </a>
                                <div class="card-subtitle">
                                {{ .Param "description"}}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <h3 class="altert">Dienste, die in Planung sind, findest du <a href="/planung">hier</a>.</h3>
    </main>
{{ end }}